#valorant_logo {
  background-color: rgb(155, 178, 216);
}

#h2 {
  background-color: rgb(223, 61, 93);
}
body {
  background-color: rgb(250, 235, 215);
}
#game_play{
    font-size: 25px;
    color: rgb(39, 31, 20);
}
#val_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
table{
    font-size: 50px;
color: rgb(87, 106, 190);
background-color: rgb(182, 168, 150);

}
#farst_row{
    color: rgb(0, 0, 0);
    
}
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li a:hover {
  background-color: #111;
}


#valorant_role{
  background-color: rgb(182, 168, 150);
}

#updates_p{font-size: larger;}